alembic==1.6.5
asgiref==3.4.1
click==8.0.1
fastapi==0.66.0
greenlet==1.1.0
h11==0.12.0
Mako==1.1.4
MarkupSafe==2.0.1
packaging @ file:///private/tmp/sip--packaging-20210330-31464-6rk98n/packaging-20.9
psycopg2-binary==2.9.1
pydantic==1.8.2
pyparsing==2.4.7
PyQt5==5.15.4
PyQt5-sip==12.8.1
python-dateutil==2.8.2
python-editor==1.0.4
QScintilla==2.12.1
sip==6.0.3
six==1.16.0
SQLAlchemy==1.4.21
starlette==0.14.2
TBB==0.1
toml==0.10.2
typing-extensions==3.10.0.0
uvicorn==0.14.0
